<div class="container mx-auto mt-4">
  <app-instruction></app-instruction>
  <ng-container *ngIf="selectedUser$ | async as user; else userList">
    <div
      class="
        selected-user
        flex flex-col
        items-center
        justify-center
        bg-white
        p-4
        shadow
        rounded-lg
      "
    >
      <div class="flex flex-row justify-between w-full px-5">
        <h1>{{ user.name }}'s todos</h1>
        <span class="cursor-pointer text-2xl" (click)="selectedUser$.next(null)"
          >x</span
        >
      </div>
      <table
        class="table-auto w-full"
        *ngIf="selectedUserTodos$ | async as todos"
      >
        <thead>
          <tr>
            <th class="py-3 px-6">Id</th>
            <th class="py-3 px-6">Title</th>
            <th class="py-3 px-6">State</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let todo of todos"
            class="border-b border-gray-200 hover:bg-gray-100"
          >
            <td class="py-3 px-6 text-center">{{ todo.id }}</td>
            <td class="py-3 px-6">{{ todo.title }}</td>
            <td class="py-3 px-6 text-center">
              {{ todo.completed ? "✔" : "❌" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <ng-template #userList>
    <app-user-list
      *ngIf="users$ | async as users"
      (selectUserEvent)="selectUser($event)"
      [users]="users"
    ></app-user-list>
  </ng-template>
</div>
