<div
  class="
    user-list
    mt-4
    grid grid-cols-1
    sm:grid-cols-2
    md:grid-cols-3
    xl:grid-cols-4
    gap-4
  "
>
  <div
    (click)="selectedUser$.next(user)"
    *ngFor="let user of users"
    class="
      user-container
      cursor-pointer
      flex flex-col
      items-center
      justify-center
      bg-white
      hover:bg-gray-300
      p-4
      shadow
      rounded-lg
    "
  >
    <div
      class="
        inline-flex
        shadow-lg
        border border-gray-200
        rounded-full
        overflow-hidden
        h-40
        w-40
      "
    >
      <img [src]="getUserImage(user)" alt="" class="h-full w-full" />
    </div>

    <h2 class="mt-4 font-bold text-xl">{{ user.name }}</h2>
    <h6 class="mt-2 text-sm font-medium">{{ user.email }}</h6>

    <p class="text-xs text-gray-500 text-center mt-3">
      {{ user.company.catchPhrase }}
    </p>
  </div>
</div>
